.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    background-color: #0d1117;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 00, 00, 0.9), rgba(00, 255, 00, 0.9));
    border-image-slice: 1;
    color: orange;
    font-weight: 600;
}

.menu li>*:not(ul, .menu-title, details, .btn):hover {
    background-color: #0d1117;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 00, 00, 0.9), rgba(00, 255, 00, 0.9));
    border-image-slice: 1;
}

.menu li>*:not(ul, .menu-title, details, .btn) {
    background-color: #0d1117;
    border: 2px solid #a4a1a1;
    color: white;
    height: fit-content;
    padding: 4px 8px;
    margin: 0px 4px;
    border-radius: 0px;
}

.gradient-text {
    background: linear-gradient(90deg, rgba(255, 00, 00, 0.9), rgba(00, 255, 00, 0.9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gradient-border-bottom {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 00, 00, 0.9), rgba(00, 255, 00, 0.9));
    border-image-slice: 1;
}