.banner-background{
    background-image: url(../../../../../assets/1658006754892.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img-gradient-border{
    border: 8px solid;
    border-image: linear-gradient(90deg, rgba(255, 00, 00, 0.9), rgba(00, 255, 00, 0.9)) 1;
}